rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read operations to the "fuel" collection
    match /fuel/{document} {
      allow read: if true; // Public read access

      // Deny all client-side write operations
      allow create, update, delete: if false;
    }

    // Deny all other read and write operations on other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
